/* Google Font */
body{
    font-family:'Poppins',sans-serif;
    margin:0;
    padding:0;
}

/* Background */
.signup-section{
    min-height:100vh;
    display:flex;
    justify-content:flex-start;
    align-items:center;

    padding:15px 0 15px 8%;

    background:
    linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
    url("../images/login-bg.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}


/* Signup Card */
.signup-card{
    width:500px;
    max-width:90%;

    background:rgba(255,255,255,.95);

    padding:20px 28px;

    border-radius:20px;

    backdrop-filter:blur(10px);

    box-shadow:0 15px 35px rgba(0,0,0,.30);
}


/* Heading */
.signup-card h2{
    color:#198754;
    font-weight:700;
    margin-bottom:3px;
}


/* Subtitle */
.signup-card p{
    color:#6c757d;
    margin-bottom:8px;
}


/* Labels */
.form-label{
    font-weight:600;
    margin-bottom:3px;
}


/* Inputs */
.form-control{
    height:42px;
    border-radius:10px;
    margin-bottom:3px;
}


/* Password Help */
.form-text{
    font-size:11px;
    color:#6c757d !important;
    line-height:1.2;
}


/* Checkbox */
.form-check{
    margin-top:5px;
    margin-bottom:7px;
}


/* Button */
.btn-success{
    width:100%;
    height:44px;
    border-radius:30px;

    font-size:16px;
    font-weight:600;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;

    transition:.3s;
}


/* Login Link */
.text-center{
    margin-top:8px;
}


.text-center a{
    text-decoration:none;
    font-weight:600;
    color:#198754;
}


/* Mobile */
@media(max-width:576px){

    .signup-section{
        padding:15px;
        justify-content:center;
    }

    .signup-card{
        width:100%;
        padding:18px;
    }
}